.write-container {
  width: 80%;
  height: 70%;
  position: fixed;
  top: 10%;
  left: 10%;
  border-radius: 5px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  border-radius: 5px 5px 0 0;
  color: var(--lighter-blue);
  padding: 5px 10px;
}

.btn-close {
  background: transparent;
  color: tomato;
  border-radius: none !important;
  padding: 10px 20px;
  border: none !important;
  outline: none;
  border-radius: 0px 5px 0 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.inner-container {
  display: flex;
  width: 100%;
  height: calc(100% - (46px + 36px + 10px));
}

.content,
.display {
  width: 50%;
  height: calc(100%);
  background-color: var(--near-white);
}

.content {
  border-right: 0.5px solid #12121212;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-blue);
  border-radius: 0 0 5px 5px;
  color: var(--lighter-blue);
  padding: 5px 0;
}

.text-content {
  background-color: #f5e3d745;
  width: 100%;
  height: calc(100% - (46px + 36px + 11px));
  border: none;
  outline: none;
  padding: 10px;
  resize: none;
}

.input {
  background-color: #f5e3d745;
  border-bottom: 0.5px solid #12121212;
}

input[type="file"] {
  width: 145px;
}

::file-selector-button {
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  vertical-align: middle;
  font-weight: 600;
  background: var(--lighter-blue) !important;
  cursor: pointer;
  letter-spacing: 0px;
  font: 600 13.3333px Cabin !important;
  font-style: "Cabin" !important;
  color: var(--dark-blue) ;
}
