<div class="container center">
  <div class="input-container shadow">
    <app-input
      type="text"
      value=""
      place="Username"
      (change)="getValue('username', $event)"
    ></app-input>
  </div>
  <div class="input-container shadow">
    <app-input
      type="password"
      value=""
      place="Password"
      (change)="getValue('password', $event)"
    ></app-input>
  </div>
  <div class="button-container">
    <button class="btn btn-primary shadow" (click)="checkLogin()">Login</button>
    <button class="btn btn-primary shadow" routerLink="/create-account">
      Create Account
    </button>
  </div>
</div>

<app-wave></app-wave>